h2 {
    text-transform: uppercase;
    font-weight: bold!important;
    font-size: 23px!important;
}
hr {
    background-color: #dc3545;
}
#navbarNav {
    justify-content: space-between;
}
.nav {
    align-items: center;
    flex-basis: 50%;
}
.nav-item {
    color: white;
    cursor: pointer;
    margin: 0 15px 0 15px;
    transition: 0.3s;
}
.nav-item:hover, .active {
    color: #dc3545;
}
.searchBar-container {
    text-align: right;
    flex-basis: 50%;
}
#searchBar {
    background-image: url('http://www.stickpng.com/assets/images/585e4ae1cb11b227491c3393.png');
    background-position: 10px 10px;
    background-repeat: no-repeat; 
    background-size: 22px;
    width: 50%;
    max-height: 40px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 35px;
    margin-bottom: 12px;
}
.wrapper {
    display: flex;
    margin: 10px 60px;
} 
.movies-list {
    list-style: none;
    padding: 0;
}
.movies-list li {
    display: block;
}
.movies-list img {
    height: 250px;
    margin: 10px 30px 10px 10px;
    float: left;
}
.film-container {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    padding: 10px;
    position: relative;
    transition: 0.3s;
    height: 300px;
}
.film-container:hover {
    transform: scale(1.02);
}
.film-container h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
.film-container p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.film-container span {
    color: #777;
}
.screen {
    display: none;
}
.vote-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}
#Trailer {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
#Trailer iframe {
    margin: 10px auto 10px;
}
#enSalle {
    padding: 10px;
}
#enSalleList {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-around;
}
#enSalleList img {
    height: 100px;
    cursor: pointer;
    transition: 0.2s;
}
#enSalleList img:hover {
    transform: scale(1.4);
}

@media screen and (max-width: 990px) {
    .wrapper {
        flex-direction: column-reverse;

    }
    h2 {
        text-align: center;
    }
    #navbarNav {
        border-top: 1px solid white;
        padding: 10px;
    }
    .nav {
        flex-direction: column;
    }
    .searchBar-container {
        width: 100%;
        text-align: center;
    }
    #enSalleList {
        overflow-y: hidden;
    }
    .film-container {
        overflow: hidden;
    }
}